.allProduct {
  margin: 1.5rem;
}

.imgCard {
  width: 13rem;
  height: 14rem;
}

.nameCard,
.priceCard {
  color: black;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .imgCard {
    width: 8rem;
    height: 8rem;
  }
}
