.pic img {
  /* width: 30rem;
  height: 30rem; */
  border-radius: 20px;
  width: 65%;
  height: 65%;
}

/* iphone se */
/* iphone XR */
@media screen and (max-width: 375px), (max-width: 414px), (max-width: 540px) {
  .pic img {
    width: 100%;
  }
}
