/* .productDetail {
  background-color: red;
} */
.name {
  /* color: black; */
  /* background-color: red; */
  font-size: 30px;
  margin-bottom: 2rem;
}

.price {
  font-size: 30px;
}

.description,
.price {
  margin-bottom: 2rem;
  /* text */
}

.button {
  align-self: center;
}
