div {
  outline: 1px dashed lime;
  font-family: "Prompt", sans-serif;
  /* background-color: #fbf9f1; */
  /* background-color: #000000; */
  color: #e1e6ed;
  /* height: auto; */
  /* width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed; */
}

/* html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#full-size {
  height: 100%;
  width: 100%;
  overflow: hidden;
} */
