div {
  /* outline: 1px dashed lime; */
  font-family: "Prompt", sans-serif;
  /* background-color: #fbf9f1; */
  /* background-color: #2b2d30; */
  background-color: black;
  /* background-color: #000000; */
  color: #e1e6ed;
  /* height: 100%; */
  /* width: 100%;
  
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed; */
}
